useDynLib(CNORode2017)


export("createLBodeContPars",
    "defaultParametersGA",
    "defaultParametersSSm",
    "getLBodeDataSim",
    "getLBodeMINLPObjFunction",
    "getLBodeContObjFunction",
    "getLBodeModelSim",
    "getLBodeSimFunction",
    "getStates",
    "incidence2Adjacency",
    "minlpLBodeSSm",
    "parEstimationLBodeGA",
    "parEstimationLBode",
    "parEstimationLBodeSSm",
    "plotLBodeFitness",
    "plotLBodeModelSim",
    "simdata2cnolist",
    "simulate"
    )
